.containerOuter {
  width: 100%;
}
.containerInner {
  width: 600px;
  height: 100vh;

  margin: 0 auto;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 32px;
  font-weight: 600;

  @media (max-width: 576px) {
    font-size: 22px;
    text-align: center;
  }
}
