.taskTitle {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 8px;

  @media (max-width: 576px) {
    text-align: center;
  }
}

.status {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  margin-bottom: 0px;

  @media (max-width: 576px) {
    text-align: center;
  }
}

.description {
  height: 100%;

  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.statusCompleted {
  color: #28a745;
}

.statusRemaining {
  color: #ffc107;
}

.btnContainer {
  height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;

  @media (max-width: 576px) {
    justify-content: center;
  }
}
