.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.status {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  margin-bottom: 0px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}
